@import 'base.css';
body{
  margin: 0;
}

:root {
  --header-height: 44px;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@media (hover: hover) {

}

@media (min-width: 1024px) {

}

/*style*/
.acrylic {
  border: 1px solid #E6E6E6;
  background: rgba(255, 255, 255, 0.32);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.widget {
  border-radius: 8px;
  box-shadow: 2px 2px 16px rgba(32, 32, 32, 0.4);
}
